body{
    font-family: 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 60px;
    background-color: beige;
}

h2 {
    font-size: 36px;
    background-color: beige;
    text-align: center;
    color: brown;
}

img {
    width: 800px;
    height: auto;
}

ul,ol,p {
    background-color: bisque;
}

ul,ol,p,h2 {
    padding: 10px 40px;
}